#root {
  width: 800px;
  height: 400px;
  background-color: lightgrey;
  margin: 25px auto;
}

.bar {
  display: inline-block;
  width: 100px;
  height: 300px;
  background-color: green;
  margin-right: 10px;
}

/* graph */

.node {
  stroke: black;
  stroke-width: 1.5px;
}

.link {
  stroke: red;
}

#chart {
  width: 800px;
  height: 400px;
  background-color: lightgrey;
  margin: 25px auto;

}

.x-axis path .x-axis line {
  shape-rendering: crispEdges
}

.x-axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11px;
}

.y-axis path .y-axis line {
  shape-rendering: crispEdges
}

.y-axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11px;
}

.link {
  stroke: #aaa;
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}
