.page {

    .infos {
        text-align: center;
    }

    .container {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;

        .item {
            width: 500px;
        
        }

    }
    

}


