<template name="post">
  <h3>{{titre}}</h3>

  <h4>lecture :</h4>
  <p>interaction : {{lecture.interaction}}</p>
  <p>type : {{lecture.type}}</p>
  <p>machine : {{lecture.machine}}</p>
  <p>humaine : {{lecture.humaine}}</p>

  
</template>
